{% extends 'base.html.twig' %}

{% block title %}Qu'est ce que le BTS SIO{% endblock %}

{% block body %}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Untitled</title>
</head>


<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section class="py-4 py-xl-5">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center ">
                                <div>
                                    <h2 class="text-uppercase fw-bold mb-3">BTS SIO<br />Services informatiques aux organisations</h2>
                                    <p class="mb-4">Le BTS est un diplôme en deux ans post-bac, résolument concret, destiné à une intégration rapide sur le marché du travail. Pour ceux qui le souhaitent, il est possible de continuer ses études un an ou plus.

Le BTS SIO apporte des compétences dans le support et la mise à disposition de services informatiques, ainsi qu’en cybersécurité. À la fin du premier semestre, il propose deux options (SISR et SLAM) qui délivrent chacune une compétence supplémentaire : l’administration des systèmes et des réseaux (SISR) ou la conception et le développement d'applications (SLAM).</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
<div class="d-flex justify-content-center">
 <div class="row">
    <div class="col-md-6">
        <div class="card" style="width: 18rem;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;box-shadow: 5px 5px 16px 2px rgba(0,0,0,0.25);margin: 14px;min-width: 500px;max-width: 300px;margin-bottom: 20px;">
                     <div style="width: 100%; height: 400px; background: url('/assets/img/slam.jpg') no-repeat; background-position: center center; background-size: cover; border-radius: 20px 20px 0 0;"></div>
            <div class="card-body d-flex flex-column" style="height: 262px;">
                <div>
                    <h4 style="font-family: 'Source Sans Pro', sans-serif;font-weight: 700;color: rgb(255,160,0);">SLAM</h4>
                    <h6 class="text-muted mb-2" style="font-family: 'Source Sans Pro', sans-serif;font-weight: 600;color: #757575;">Solutions logicielles et applications métiers</h6>
                    <p style="font-family: 'Source Sans Pro', sans-serif;color: #212121;margin-top: 16px;">l'option Solutions logicielles et applications métiers, appelé aussi SLAM, se prépare en deux ans.

Au terme de cette formation complète Bac + 2, vous serez capable de gérer l'ensemble informatique de n'importe quelle structure et de former le personnel aux nouvelles applications créées par vos soins.</p>
                   <a class="align-self-end card-link" href="#" style="padding: 4px;background: #424656;color: rgb(255,255,255);border-radius: 17px;padding-right: 14px;padding-left: 14px;padding-bottom: 6px;font-family: 'Source Sans Pro', sans-serif;margin-top: auto;" id="myBtn">Poursuivre</a>
                </div>
            </div>
        </div>
    </div>
   
    <div class="col-md-6 ">
        <div class="card" style="width: 18rem;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;box-shadow: 5px 5px 16px 2px rgba(0,0,0,0.25);margin: 14px;min-width: 500px;max-width: 500px;margin-bottom: 20px;">
          <div style="width: 100%; height: 400px; background: url('/assets/img/sisr.jpg') no-repeat; background-position: center center; background-size: cover; border-radius: 20px 20px 0 0;"></div>
            <div class="card-body d-flex flex-column" style="height: 350px;">
                <div>
                    <h4 style="font-family: 'Source Sans Pro', sans-serif;font-weight: 700;color: rgb(255,160,0);">SISR</h4>
                    <h6 class="text-muted mb-2" style="font-family: 'Source Sans Pro', sans-serif;font-weight: 600;color: #757575;">Solutions d'infrastructure, systèmes et réseaux</h6>
                    <p style="font-family: 'Source Sans Pro', sans-serif;color: #212121;margin-top: 16px;">Le BTS SIO SISR (Solution d’Infrastructure Système et Réseau), est une option du BTS SIO qui a pour but de former des techniciens réseau polyvalents. Les lauréats de ce programme ont toutes les compétences nécessaires pour la gestion et la maintenance du réseau d’une entreprise. Ils peuvent également intervenir quant à l’achat du matériel réseau employé en négociant directement avec les fournisseurs.</p>
                    <a class="align-self-end card-link" href="#" style="padding: 4px;background: #424656;color: rgb(255,255,255);border-radius: 17px;padding-right: 14px;padding-left: 14px;padding-bottom: 6px;font-family: 'Source Sans Pro', sans-serif;margin-top: auto;" id="myBtn1">Poursuivre</a>


            </div>
                
            </div>
        </div>
    </div>
</div>
</div>

<div class="d-flex justify-content-center"> 
<div class="card" style="width: 18rem;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;box-shadow: 5px 5px 16px 2px rgba(0,0,0,0.25);margin: 14px;min-width: 82%;max-width: 300px;margin-bottom: 20px;">
    <div style="width: 100%; height: 450px; background: url('/assets/diagram.png') no-repeat; background-position: center center; background-size: cover; border-radius: 20px 20px 0 0;"></div>
    <div class="card-body d-flex flex-column" style="height: 150px;">
        <div>
            <h4 style="font-family: 'Source Sans Pro', sans-serif;font-weight: 700;color: rgb(255,160,0);">Accessibilité</h4>
            <h6 class="text-muted mb-2" style="font-family: 'Source Sans Pro', sans-serif;font-weight: 600;color: #757575;"></h6>
            <p style="font-family: 'Source Sans Pro', sans-serif;color: #212121;margin-top: 16px;">Accessibilité

L'admission dans ce cursus d’environ 35 heures par semaines (sans compter le travail personnel) est ouverte aux bacheliers généraux, technologiques et professionnels, sur dossier de candidature puis entretien de motivation. Il faut donc être titulaire d'un baccalauréat, quel qu'il soit.</p>

    </div>
</div>
</div>
</div>

</body>

</html>


<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h4>La poursuite d’études après un BTS SIO :</h4>
            <p> pour plus de compétences et de responsabilités
        Première chose à savoir : le BTS Services Informatiques aux Organisations est un cursus très professionnalisant.
        Après un baccalauréat général, un bac technologique ou un bac professionnel, celui-ci vous donne toutes les clés pour travailler dans l’administration réseau ou le développement web. En clair, dans des domaines avec des débouchés très importants !
        Toutefois, bien que ce bac+2 reconnu par l’État vous permette de vous engager en tant que professionnel directement à son issue, le BTS informatique vous donne accès aux bac+3 !</p>
        <p>Opter pour un bachelor après un BTS SIO
        Le bachelor est le diplôme professionnalisant et ouvert sur l’international par excellence. Dispensé sur une, deux ou trois années, il vous donne la possibilité de passer en troisième année après un BTS pour vos poursuites d’études.</p>
        <p>Opter pour un BUT après un BTS SIO 
        Le Bachelor universitaire de technologie (BUT) remplace, depuis la rentrée 2021, le Diplôme universitaire de technologie (DUT) qui s’effectue désormais sur trois années au niveau bac (au lieu de deux ans auparavant). Ainsi, il est possible d’intégrer une troisième année de BUT après avoir validé son BTS. </p>
  <div class="row">
    <div class="col-md-6">
    <h4>Les débouchés d’un BTS SLAM</h4>
        <p>
        Le BTS SLAM forme les étudiants aux métiers de la conception et de la maintenance de programmes applicatifs. Le BTS SLAM permet d’acquérir des connaissances et compétences solides en base de données, développement des applications… Voici quelques métiers que vous pourrez exercer à l’issue de cette formation :
        <ul>
            <li>Analyste d’exploitation informatique</li>
            <li>Chargé d’études informatiques</li>
            <li>Développeur d’application mobile</li>
            <li>Développeur informatique</li>
            <li>Programmeur analyste</li>
            <li>Programmeur d’applications</li>
            <li>Responsable de services applicatifs</li>
            <li>Technicien d’études informatiques</li>
            <li>etc.</li>
        </ul>
    </div>
    <div class="col-md-6">
     <h4>Les débouchés d’un BTS SISR</h4>
           <p>Les débouchés d’un BTS SLAM
Le BTS SLAM forme les étudiants aux métiers de la conception et de la maintenance de programmes applicatifs. Le BTS SLAM permet d’acquérir des connaissances et compétences solides en base de données, développement des applications… Voici quelques métiers que vous pourrez exercer à l’issue de cette formation :
</p>
<ul>
      <li>  Analyste d’exploitation informatique</li>
      <li>   Chargé d’études informatiques</li>
       <li>  Développeur d’application mobile</li>
       <li>  Développeur informatique</li>
       <li>  Programmeur analyste</li>
       <li>  Programmeur d’applications</li>
       <li>  Responsable de services applicatifs</li>
       <li>  Technicien d’études informatiques</li>
       <li>  etc.</li>
</ul>
    </div>
</div>
  
  
  </div>
  
</div>

<style>
/* Style de la popup */
.modal {
  display: none; /* Cachez la popup par défaut */
  position: fixed; /* Positionne la popup en mode fixe */
  z-index: 1; /* Mettre la popup en haut de tous les autres éléments */
  left: 0;
  top: 0;
  width: 100%; /* La largeur de la popup sera de 100% */
  height: 100%; /* La hauteur de la popup sera de 100% */
  overflow: auto; /* Active le défilement si la hauteur de la popup dépasse la hauteur de la fenêtre */
  background-color: rgb(0,0,0); /* Couleur de fond de la popup */
  background-color: rgba(0,0,0,0.4); /* Opacité de la popup */
  
}

/* Style de la boîte qui contiendra les informations dans la popup */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% de l'écran en haut et en bas et centré horizontalement */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Largeur de la boîte */
}

/* Style du bouton "X" pour fermer la popup */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


</style>
<script>


// Obtenir la popup
var modal = document.getElementById("myModal");

var btn1 = document.getElementById("myBtn1");
var btn = document.getElementById("myBtn");


// Obtenir l'élément <span> qui ferme la popup
var span = document.getElementsByClassName("close")[0];

// Lorsque l'utilisateur clique sur le bouton "Ver mais", ouvrez la popup
function openModal() {
  event.preventDefault(); // Empêche le comportement par défaut du lien
  modal.style.display = "block"; // Ouvre la popup
  return false; // Empêche tout autre comportement de l'élément
}
btn1.onclick = openModal;
btn.onclick = openModal;
// Lorsque l'utilisateur clique sur le bouton "X", fermez la popup
span.onclick = function() {
  modal.style.display = "none";
}

// Lorsque l'utilisateur clique en dehors de la popup, fermez-la
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script>

{% endblock %}
