{% extends 'base.html.twig' %}

{% block title %}{{parent()}} : Accueil!{% endblock %}

{% block body %}
    <!DOCTYPE html>
<html lang="en">

<head>
   
</head>
<div class="border rounded border-0 d-flex flex-column justify-content-center align-items-center p-4 py-5" style="background: linear-gradient(rgba(0,123,255,0.2), rgba(0,123,255,0.2)), url('http://localhost/portfolio/assets/header.jpg') center / cover;height: 500px;">
    <div class="row">
        <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
            <div>
                <h1 class="text-uppercase fw-bold mb-3">PortFolio Colbaut Mathis</h1>
                <p class="mb-4">Etudiant BTS SIO option SLAM</p><button class="btn btn-primary fs-5 me-2 py-2 px-4" type="button">Qui suis-je ?</button><button class="btn btn-light fs-5 py-2 px-4" type="button">Ce que je fais?</button>
            </div>
        </div>
    </div>
</div>
</html>
{% endblock %}
