{% extends 'base.html.twig' %}

{% block title %}Hello GestionPatrimoineController!{% endblock %}

{% block body %}

<section class="py-4 py-xl-5">
    <div class="container">
        <div class="text-center p-4 p-lg-5">
            <p class="fw-bold text-primary mb-2">Gestion du patrimoine</p>
            <h1 class="fw-bold mb-4">En quoi consiste la gestion du patrimoine informatique? </h1>
        </div>
    </div>
</section>
<section class="py-4 py-xl-5">
    <div class="container">
        <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="text-white p-4 p-md-5">
                        <h2 class="fw-bold text-white mb-3">Qu&#39;est ce que c&#39;est?</h2>
                        <p class="mb-4"><br /><br />La gestion du patrimoine informatique, ou &quot;asset management&quot;, concerne la gestion des actifs informatiques d&#39;une entreprise ou d&#39;une organisation. Cela comprend la gestion des équipements informatiques, des logiciels et des licences associées, des données et des systèmes d&#39;information. La gestion du patrimoine informatique vise à s&#39;assurer que ces actifs sont utilisés de manière efficace et à optimiser leur valeur pour l&#39;organisation. Elle comprend également la gestion des risques liés à ces actifs et la gestion de leur cycle de vie, de l&#39;acquisition à la fin de leur utilisation.<br /><br /></p>
                        <div class="my-3"></div>
                    </div>
                </div>
                <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img class="w-100 h-100 fit-cover" src="/assets/gestion.jpg" /></div>
            </div>
        </div>
    </div>
</section>
<section class="py-4 py-xl-5">
    <div class="container">
        <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="text-white p-4 p-md-5">
                        <h2 class="fw-bold text-white mb-3">Pourquoi les entreprises doivent faire de la gestion de patrimoine?</h2>
                        <p class="mb-4">Optimisation de l&#39;utilisation des équipements informatiques : en gérant adéquatement le patrimoine informatique, vous pouvez s&#39;assurer que les équipements sont utilisés de manière efficace et que vous tirez le maximum de leur valeur.<br />                                                                                                                  Réduction des coûts : en gérant adéquatement le patrimoine informatique, vous pouvez réduire les coûts liés aux équipements informatiques en repérant les inefficacités et en mettant en place des mesures pour les corriger.<br /><br />Amélioration de la productivité : en fournissant aux employés les outils informatiques adéquats et en veillant à ce qu&#39;ils soient toujours en bon état de fonctionnement, vous pouvez améliorer la productivité de votre entreprise.<br />                                                                                                                Préparation à l&#39;avenir : en gérant adéquatement le patrimoine informatique, vous pouvez anticiper les besoins futurs de votre entreprise et vous assurer que vous disposez des équipements et des licences logicielles nécessaires pour répondre à ces besoins.<br /><br />Gestion des licences logicielles : la gestion du patrimoine informatique inclut souvent la gestion des licences logicielles pour s&#39;assurer que votre entreprise respecte les lois et les règles en matière de logiciels.<br /></p>
                        <div class="my-3"></div>
                    </div>
                </div>
                <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img class="w-100 h-100 fit-cover" src="/assets/fluid.jpg" /></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
