{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Veille Technologique{% endblock %}

{% block body %}

{% for item in rssItems %}
    <li>{{ item.title }}</li>
    <li>{{ item.link }}</li>
    <li>{{ item.description }}</li>
{% endfor %}
{% endblock %}
