{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Veille Technologique{% endblock %}

{% block body %}
<div class="container">
    <div class="text-center p-4 p-lg-5">
        <p class="fw-bold text-primary mb-2">Veille Technologiques</p>
        <h1 class="fw-bold mb-4">Qu&#39;est ce que la veille technologique?</h1>
    </div>
</div>

<section>
    <div style="height: 600px;background: url('assets/veille.png') center / cover;"></div>
    <div class="container h-100 position-relative" style="top: -50px;">
        <div class="row gy-5 gy-lg-0 row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col">
                <div class="card">
                    <div class="card-body pt-5 p-4">
                        <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon lg" style="top: -30px;"><svg class="bi bi-info-square" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                            </svg></div>
                        <h4 class="card-title">Qu'est ce que c'est?</h4>
                        <h6 class="text-muted card-subtitle mb-2">Présentation rapide</h6>
                        <p class="card-text">La veille technologique est l'action de suivre de manière régulière l'évolution des technologies dans un domaine donné afin d'identifier les innovations et les nouvelles tendances. La veille technologique a pour objectif de permettre à une entreprise, à un individu ou à une organisation de rester informé et de s'adapter aux changements du marché et de l'environnement technologique.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body pt-5 p-4">
                        <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon lg" style="top: -30px;"><svg class="bi bi-search" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg></div>
                        <h4 class="card-title">Comment faire de la veille?</h4>
                        <h6 class="text-muted card-subtitle mb-2">2 Manière</h6>
                        <p class="card-text">La veille technologique peut se faire de manière proactive, en menant des recherches et en analysant les publications scientifiques et les brevets, ou de manière réactive, en se basant sur les informations diffusées par les médias et les réseaux sociaux.</p>
                    </div>
                </div>
            </div>
             <div class="col">
                <div class="card">
                    <div class="card-body pt-5 p-4">
                        <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon lg" style="top: -30px;"><svg class="bi bi-search" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg></div>
                        <h4 class="card-title">L'automatisation</h4>
                        <h6 class="text-muted card-subtitle mb-2">Applis / SiteWeb / RSS</h6>
                        <p class="card-text">Utiliser des outils de veille en ligne : comme Google Alerte qui vous envois des mails des mots clés séléctionner.

S'abonner à des newsletters :  Il suffit de s'inscrire à celles qui vous intéressent pour recevoir par mail les infos.

Utiliser un agrégateur de flux : comme Feedly vous permet de suivre les dernières actualités de différents sites web en un seul endroit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
    <div>
        <h2 class="text-uppercase fw-bold mb-3">Suject de Veille</h2>
        <p class="mb-4">Ma veille technologie portera sur le Nosql est plus particulièrement le SGBD CouchBase qui est en brève
        </p>
    
    </div>
</div>
   <p style="text-align: center;">
           Couchbase est une base de données NoSQL qui utilise un modèle de stockage de documents. <br>
            Elle est conçue pour gérer efficacement de grandes quantités de données de manière flexible. <br>
            Couchbase offre de hautes performances et une haute disponibilité, ce qui la rend adaptée aux applications exigeantes<br> en matière de temps de réponse. 
            Elle est facile à développer et à déployer, ce qui la rend populaire auprès des développeurs. <br>
            Couchbase est utilisée dans de nombreux contextes, tels que le développement d'applications  <br>Web et mobiles, la gestion de données de transactions en temps réel et la création de solutions de gestion de données pour les entreprises.</p>




<div class="container py-4 py-xl-5">
  
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col">
            <div class="p-4"><span class="badge rounded-pill bg-primary mb-2">Qu'est ce que le NoSQL</span>
                <h4>NoSQL > SQL ?</h4>
                <p>
Le NoSQL, pour "not only SQL", désigne les bases de données qui ne sont pas fondées sur l'architecture classique des bases de données relationnelles. Développé à l'origine pour gérer du big data, l'utilisation de base de données NoSQL a explosée depuis quelques années. Mais qu'est-ce que réellement le NoSQL ?</p>
                <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
                    <div>
                        <p class="fw-bold mb-0">Posté le 26 janvier 2016</p>
                        <p class="text-muted mb-0">grafikart.fr/blog</p>
                        <a class="btn btn-primary" type="button" target="_blank" href="https://grafikart.fr/blog/sql-nosql">Lire L'article</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="p-4"><span class="badge rounded-pill bg-primary mb-2">CouchBase</span>
                <h4>Les cas d’usage originaux de la solution NoSLQ Couchbase</h4>
                <p>une base de données open source orientée document, qui fonctionne en mémoire et s’appuie sur le format JSON.Cette solution est principalement connue pour sa capacité à améliorer les performances des services web. LinkedIn l’utilise par exemple pour mettre en cache les 830 millions de profils de ses membres.</p>

                <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
                    <div>
                        <p class="fw-bold mb-0">Posté Mercredi 20 Juillet 2022</p>
                        <p class="text-muted mb-0">www.zdnet.fr</p>
                        <a class="btn btn-primary" type="button" target="_blank" href="https://www.zdnet.fr/actualites/les-cas-d-usage-originaux-de-la-solution-noslq-couchbase-39944924.htm">Lire L'article</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="p-4"><span class="badge rounded-pill bg-primary mb-2">Comment choisir</span>
                <h4>Différence SQL et NOSQL</h4>
                <p>Vous pouvez créer tout type d'application avec une base de données SQL ou NoSQL. Cela dépend de vos besoins. Si vous envisagez une base de données où vous avez plus de lectures et moins d'écritures, un NoSQL peut être une bonne option. Cependant, si vous envisagez de créer une application avec plus d'écritures que de lectures, un SQL peut être la meilleure solution. En ce qui concerne l'évolutivité, lorsque votre application atteint une échelle très massive, vous pouvez finir par utiliser les deux bases de données.</p>
                <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
                    <div>
                        <p class="fw-bold mb-0">Posté le 29 Octobre 2022</p>
                        <p class="text-muted mb-0">geekflare.com</p>
                        <a class="btn btn-primary" type="button" target="_blank" href="https://geekflare.com/fr/sql-vs-nosql/">Lire L'article</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="p-4"><span class="badge rounded-pill bg-primary mb-2">Débutez avez Couchbase NoSQL</span>
                <h4>Commençez à utiliser</h4>
                <p>Informations et prérequis
Dans ce guide, nous allons créer une version bac à sable de Couchbase Server Entreprise Edition, afin de commencer à manipuler la base de données.

Pour pouvoir suivre ce guide, il est essentiel que vous ayez installé docker sur votre mac ou sur votre PC.

Afin que vous puissiez faire tourner votre serveur Couchbase, il est recommandé que votre machine dispose au minimum des ressources listées ci-dessous:

4Go de RAM
CPU 2Ghz
8Go en disque dur SSD
 </p>
                <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
                    <div>
                        <p class="fw-bold mb-0">Posté le 27 octobre 2021</p>
                        <p class="text-muted mb-0">welovedevs.com/</p>
                        <a class="btn btn-primary" type="button" target="_blank" href="https://welovedevs.com/fr/articles/debuter-couchbase/">Lire L'article</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="p-4"><span class="badge rounded-pill bg-primary mb-2">N1QL un SQL revisiter pour Couchbase</span>
                <h4>N1QL</h4>
                <p>Couchbase, Inc., créateur de la première base de données d'engagement au monde, a annoncé aujourd'hui une avancée majeure avec le lancement de N1QL pour Analytics, le premier langage de requête commercial de l'industrie compatible avec le cadre de langage SQL++.
SQL++ spécifie comment créer des langages de requête de dernière génération qui allient toute la puissance de SQL à la flexibilité de JSON.</p>
                <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
                    <div>
                        <p class="fw-bold mb-0">Posté le 4 Octobre 2018</p>
                        <p class="text-muted mb-0">decideo.fr</p>
                        <a class="btn btn-primary" type="button" target="_blank" href="https://www.decideo.fr/Couchbase-annonce-le-lancement-de-N1QL-pour-Analytics-le-premier-langage-de-requete-commercial-de-l-industrie_a10448.html">Lire L'article</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>


{% for item in rssItems %}
    <li>{{ item.title }}</li>
    <li>{{ item.link }}</li>
    <li>{{ item.description }}</li>
{% endfor %}
{% endblock %}
