{% extends 'base.html.twig' %}

{% block title %}Hello CVController!{% endblock %}

{% block body %}
<section class="py-4 py-xl-5">
    <div class="container">
        <div class="text-center p-4 p-lg-5">
            <p class="fw-bold text-primary mb-2">A Propos de moi!</p>
            <h1 class="fw-bold mb-4">Profil</h1>
        </div>
    </div>
</section>
<div class="col-md-12 col-xl-10 mx-auto p-4">
    <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
        <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center me-4 d-inline-block bs-icon xl"><svg class="bi bi-bell" xmlns="assets/bleu.png" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"></path>
            </svg></div>
        <div>
            <h4>A PROPOS DE MOI</h4>
            <p>Colbaut Mathis étudiant en BTS SIO option développement (SLAM), je suis passionner depuis mon enfance de technologies d&#39;innovation et plus particulièrement le développement informatique. Car pour moi c&#39;est une façon d&#39;être créatif et de contribuer au changement vers le tout numérique que notre époque est entrain de vivre.  Avant mon BTS j&#39;étudier au lycée Robespierre de Lens la aussi en informatique. J&#39;ai obtenu mon bac professionnel SN option RISC ce Bac pro été très enrichissant et cela me permet aujourd&#39;hui d&#39;avoir vu les deux branches principale en informatique le Réseaux et le développement.</p>
        </div>
    </div>
    <hr class="my-5" />
    <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
        <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center order-last ms-4 d-inline-block bs-icon xl"><svg class="bi bi-bell" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"></path>
            </svg></div>
        <div>
            <h4>EXPERIENCES PROFESSIONNELLES</h4>
            <p>Durant mes deux année de BTS SIO j&#39;ai pu effectuer en première année un stage au lycée Maximilien Robespierre de Lens ou j&#39;y ai développer avec le moteur de jeux Unity la nouvelle visite virtuelle du lycée. Lors de ma seconde année j&#39;ai réussis à décrocher une alternance chez AMO <span style="color: rgb(32, 33, 36);">(Asset Management Optimization) ou j&#39;intègre l&#39;équipe de développement pour contribué au déploiement de solution informatique spécialisé dans l&#39;industrie.</span><br /><br /></p><a href="http://194.167.100.128:8080/siteweb/">Visite Virtuelle</a>
            <a href="https://amo-technologies.com/">AMO</a>
        </div>
    </div>
    <hr class="my-5" />
    <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
        <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center me-4 d-inline-block bs-icon xl"><svg class="bi bi-bell" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"></path>
            </svg></div>
        <div>
            <h4>PROJECT PROFESSIONNEL</h4>
            <p>Je souhaites devenir développeur informatique avec la particularité de DEVOPS. Je suis très intéresser par c&#39;est deux phase de l&#39;informatique et j&#39;aimerais intégrer l&#39;école ENIGMA l&#39;an prochain pour obtenir un BAC+3 en informatique tout celà toujours en alternance dans le but de mettre en application tout ce que j&#39;apprends à l&#39;école et en entreprise.</p>
        </div>
    </div>
</div>
<div class="container py-4 py-xl-5">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2>Mes qualités</h2>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col">
            <div class="d-flex p-3">
                <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon sm"><svg class="bi bi-123" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M2.873 11.297V4.142H1.699L0 5.379v1.137l1.64-1.18h.06v5.961h1.174Zm3.213-5.09v-.063c0-.618.44-1.169 1.196-1.169.676 0 1.174.44 1.174 1.106 0 .624-.42 1.101-.807 1.526L4.99 10.553v.744h4.78v-.99H6.643v-.069L8.41 8.252c.65-.724 1.237-1.332 1.237-2.27C9.646 4.849 8.723 4 7.308 4c-1.573 0-2.36 1.064-2.36 2.15v.057h1.138Zm6.559 1.883h.786c.823 0 1.374.481 1.379 1.179.01.707-.55 1.216-1.421 1.21-.77-.005-1.326-.419-1.379-.953h-1.095c.042 1.053.938 1.918 2.464 1.918 1.478 0 2.642-.839 2.62-2.144-.02-1.143-.922-1.651-1.551-1.714v-.063c.535-.09 1.347-.66 1.326-1.678-.026-1.053-.933-1.855-2.359-1.845-1.5.005-2.317.88-2.348 1.898h1.116c.032-.498.498-.944 1.206-.944.703 0 1.206.435 1.206 1.07.005.64-.504 1.106-1.2 1.106h-.75v.96Z"></path>
                    </svg></div>
                <div class="px-2">
                    <h5 class="mb-0 mt-1">• Travail collaboratif / d&#39;équipe<br /></h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex p-3">
                <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon sm"><svg class="bi bi-person-square" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"></path>
                    </svg></div>
                <div class="px-2">
                    <h5 class="mb-0 mt-1">• Pragmatique<br /><br /></h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex p-3">
                <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon sm"><svg class="bi bi-arrow-counterclockwise" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"></path>
                        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"></path>
                    </svg></div>
                <div class="px-2">
                    <h5 class="mb-0 mt-1">• Autonome<br /><br /></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<center>
    <embed  src="{{ asset("assets/cv.pdf")}}" width=70% height=900 type='application/pdf'/>
</center>


{% endblock %}
