{% extends 'base.html.twig' %}

{% block title %}Hello CVController!{% endblock %}

{% block body %}
<div class="container">
<br><br><br>
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center"><img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" width="150" />
                            <div class="mt-3">
                                <h4>Colbaut Mathis</h4>
                                <p class="text-secondary mb-1">Etudiant BTS SIO Option</p><a href="{{ path("app_bts_sio") }}"> SLAM</a>
                                <p class="text-muted font-size-sm">Béthune, France</p><button class="btn btn-primary">Suivre</button>  <button class="btn btn-outline-primary">Contact</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg class="feather feather-globe mr-2 icon-inline" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line></line>
                                    <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                                </svg> PortFolio</h6><a class="text-secondary" href="https://portfolio.masterit-industries.eu" target="_blank">https://portfolio.masterit-industries.eu</a>
                        </li>
                        
                       
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg class="bi bi-linkedin mr-2 icon-inline text-danger" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
                            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                            </svg>

                                    <rect x="2" y="2" width="20" height="20" rx="5"></rect>
                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                    
                                    <line></line>
                                </svg>Linkedin</h6><a class="text-secondary" target="_blank" href="https://www.linkedin.com/in/mathis-colbaut/">https://linkedin.com/in/mathis-colbaut/</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg class="bi bi-github mr-2 icon-inline text-danger" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8.002 0C3.58 0 .052 3.527.052 7.85c0 3.469 2.252 6.42 5.374 7.477.393.073.536-.173.536-.384 0-.19-.007-.693-.01-1.36-2.19.474-2.648-.53-2.648-.53-.357-.904-.87-1.144-.87-1.144-.712-.486.054-.475.054-.475.787.054 1.2.805 1.2.805.7 1.198 1.838.853 2.286.653.07-.506.274-.853.498-1.048-1.74-.198-3.565-.87-3.565-3.877 0-.857.305-1.563.805-2.112-.085-.198-.35-.997.068-2.077 0 0 .657-.21 2.143.804.623-.173 1.29-.259 1.958-.263.668.004 1.335.09 1.958.263 1.486-1.014 2.142-.804 2.142-.804.417 1.08.154 1.88.075 2.077.5.549.804 1.255.804 2.112 0 3.014-1.828 3.675-3.574 3.87.28.24.53.723.53 1.46 0 1.056-.01 1.907-.01 2.168 0 .213.14.461.544.384 3.12-1.057 5.37-4.008 5.37-7.477C15.43 3.527 11.902 0 8.002 0z"/>
                            </svg>

                                </svg>Github</h6><a class="text-secondary" href="https://github.com/mathiscolbaut" target="_blank">https://github.com/mathiscolbaut</a>
                        </li>
                    </ul>
                    
                </div>
               <div>
                    <div class="card mt-3">
                   
                        <div class="card h-100">
                            <div class="card-body">
                        <h4>Projet professionnelles : </h4>
                        
                        <p style="text-align: justify;">À l'avenir, je vise à devenir DEVOPS, car je suis passionné par les deux phases de l'informatique : le développement et l'opérationnel. 
                        Pour y parvenir, j'ai prévu d'intégrer l'école CESI d'Arras l'année prochaine pour obtenir un Master tout en travaillant en alternance. 
                        Cette formation me permettra d'appliquer les connaissances acquises en entreprise et à l'école.</p>
                    </div></div></div>
               </div>
            </div>
             
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Prénom Nom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Mathis Colbaut
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                mathiscolbaut@gmail.com
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Tél</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                06 52 63 12 20
                            </div>
                        </div>
                        <hr />
                        
                      
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Adresse</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                71 rue Saint Antoine, Chocques
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
                <div class="row gutters-sm">
                    <div class="col-sm-15 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h4>A propos de moi : </h4>
                                <p style="text-align: justify;">Je m'appelle Mathis Colbaut, étudiant en BTSO, option slam (Solutions Logicielles et Applications Métier), en d'autres termes le développement.
                                 Je suis passionné depuis mon enfance par la technologie de l'innovation et plus particulièrement le développement informatique.
                                C'est une façon pour moi d'être plus créatif et également de contribuer au changement vers le tout numérique que notre époque 
                                est en train de vivre.
                                Avant mon BTS,  j'ai étudié au lycée Maximilien de Robespierre situé à Lens en Bac Professionnel Système Numérique option RISC 
                                (réseau informatique et systèmes communicants). Ce parcours scolaire a été pour moi très enrichissant et m'a permis de développer des compétences 
                                dans les 2 branches principales de l'informatique c'est à dire le réseau ainsi que le développement.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutters-sm">
                    <div class="col-sm-15 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h4>Experiences professionnelles : </h4>
                                <p style="text-align: justify;">Pendant ma première année, j'ai effectué mon stage au sein du lycée Maximilien de Robespierre, ma mission était de développer à l'aide du 
                                moteur de jeu Unity une nouvelle visite virtuelle du lycée, vous pouvez la consulter si vous le souhaitez sur le lien suivant 
                                . Pour ma 2nde année, j'ai réussi à décrocher une alternance dans la société AMO (Asset Management Optimization), 
                                en intégrant l'équipe de développement pour ainsi contribuer au déploiement de la solution informatique spécialisée dans l'industrie.</p>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
<center>
    <embed  src="{{ asset("assets/cv.pdf")}}" width=70% height=900 type='application/pdf'/>
</center>


{% endblock %}
